<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <p>
            "当前用户": {{ username }}
        </p>
        <form action="/user_info/" method="post">
            {% csrf_token %}
            <input type="password" name="new_password" placeholder="请输入密码"/>
            <br/>
            <input type="password" name="new_password2" placeholder="请确认密码"/>
            <br/>
            <button type="submit">确 认</button>
            <br/>
        </form>
        {% if message %}
            <script type="text/javascript">
                alert("{{ message }}");
            </script>
        {% endif %}
    </body>
</html>