<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <p>
            "当前用户": {{ username }}
            的组
        </p>
        <p>
            {% for group in my_grouplist %}
                团队id：{{group.id}}
                团队名：{{group.groupname}}
                <a class="button" href="../show_group_info/?group_id={{group.id}}">查看团队信息</a>
                <br/>
            {% endfor %}
        </p>
        <br/>
        <a class="button" href="../creategroup">创建团队</a>
        <br/>
        <a class="button" href="/">首页</a>
        <br/>
        {% if message %}
            <script type="text/javascript">
                alert("{{ message }}");
            </script>
        {% endif %}
    </body>
</html>