<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <p>
            "当前用户": {{ username }} 收到的邀请
        </p>
        <p>
            {% for inv in my_invitation %}
                {{inv.content}}
                <a class="button" href="/accept_invites/?inv_id={{inv.id}}">接受</a>
            {% endfor %}
        </p>
        <br/>
        <a class="button" href="/">首页</a>
        {% if message %}
            <script type="text/javascript">
                alert("{{ message }}");
            </script>
        {% endif %}
    </body>
</html>