<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        {% csrf_token %}
        <p>
            "当前用户": {{ username }}
        </p>
        <p>
            "用户密码": {{ password }}
        </p>
        <a class="button" href="../modify_user_info">修改信息</a>
        <br/>
        <a class="button" href="../">首页</a>
        <br/>
        {% if message %}
            <script type="text/javascript">
                alert("{{ message }}");
            </script>
        {% endif %}
    </body>
</html>